<div class="row" ng-init="actions.show()">
    <div class="col s12 m4 l3 blue-grey lighten-2" style="height:50em !important;">
        <div ng-include="'views/sideMenu.html'" ></div>
    </div>

    <div class="col s12 m8 l9 grey lighten-3" style="height:50em !important;">
        <div ng-if="view === 'Project'"  ng-include="'views/projectView.html'" ></div>
        <div ng-if="view === 'ProjectUsers'"  ng-include="'views/users.html'" ></div>
        <div ng-if="view === 'Issues'" ng-include="'views/issues.html'" ></div>
    </div>
</div>