<br>
<div class="row right-align fadeMeIn">
    <a class="modal-trigger waves-effect waves-light btn" ng-click="actions.openModal()">Add Users</a>
</div>
<div ng-include="'views/modals/addProjectUser.html'" ></div>
<div class="row projectUserList" style="height:45em;overflow: scroll">
    <ul class="collection" ng-init="actions.getProjectUsers()">
        <li class="collection-item avatar" ng-repeat="user in projectUsers">
            <img src="images/avatar.png" alt="" class="circle">
            <span class="title">{{user.name}}</span>
            <p>{{user.email}} <br>
                Web Developer
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
    </ul>
    <div ng-if="projectUsers == ''" class="card-panel center-align blue-grey lighten-1">No unknown users in this project yet..</div>
</div>
