<div id="addIssueModal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Add Unknown</h4>
        <div class="row">
            <form class="col s12">

                <div class="row">
                    <div class="input-field col s12">
                        <input id="name" type="text" class="validate" ng-model="issue.name">
                        <label for="name">Issue Name</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <div class="input-field col s12">
                            <select ng-model="issue.type">
                                <option value="1">Tasks</option>
                                <option value="2">Bugs</option>
                                <option value="3">New Feature</option>
                            </select>
                            <label>Issue Type</label>
                        </div>
                    </div>
                    <div class="input-field col s6">
                        <div class="input-field col s12">
                            <select ng-model="issue.priority">
                                <option value="1">Normal</option>
                                <option value="2">Medium</option>
                                <option value="3">High</option>
                            </select>
                            <label>Issue Priority</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <div class="input-field col s12">
                            <select>
                                <option value="" disabled selected>Choose your option</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                            <label>Assign to</label>
                        </div>
                    </div>
                    <div class="input-field col s6">
                        <div class="input-field col s12">
                            <label for="date">Due Date</label>
                            <input id="date" type="date" class="validate" ng-model="issue.dueDate">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a ng-click="actions.create()" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
    </div>
</div>