<div id="addIssueModal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Add Unknown</h4>
        <div class="row">
            <form class="col s12">

                <!--<div class="row">-->
                    <!--<div class="input-field col s6">-->
                        <!--<input id="last_name" type="text" class="validate">-->
                        <!--<label for="last_name">Last Name</label>-->
                    <!--</div>-->
                    <!--<div class="input-field col s6">-->
                        <!--<input id="last_name" type="text" class="validate">-->
                        <!--<label for="last_name">Last Name</label>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="input-field col s12">
                    <select>
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    <label>Materialize Select</label>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input id="name" type="text" class="validate" ng-model="project.name">
                        <label for="name">Unknown Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="desc" type="text" class="validate" ng-model="project.desc">
                        <label for="desc">Unknown Description</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a ng-click="actions.create()" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
    </div>
</div>