<div id="addProjectUser" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Add Unknown</h4>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <select multiple ng-init="actions.getUsers()" ng-model="projectUsers.users">
                            <option value="" disabled selected>Select Users</option>
                            <option value="{{user.id}}" ng-repeat="user in users">{{user.name}}</option>
                        </select>
                        <label>Add Users</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a ng-click="actions.addUser()" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
    </div>
</div>